<div class ="col-6 d-flex flex-column">
  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>
    <% if @article.photo.attached? %>
       <%= image_tag @article.photo.key, class: "col-sm-6 h-50 p-2 w-100"%>
    <% else %>
       <%= image_tag "golden.png", class: "col-sm-6 h-50 p-2 w-100"%>
    <% end %>
    </div>


<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
